@import url(./fonts.css);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  min-width: 320px;
  background: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%) no-repeat;
  font-family: 'Muller';
}

@media (max-width: 850px) {
  body._active {
    overflow: hidden;
  }
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

::-moz-selection {
  background: #7194c4;
  color: #fff;
}

::selection {
  background: #7194c4;
  color: #fff;
}

:root {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1284px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 50;
  padding-top: 48px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: 'Muller';
  font-weight: 800;
  font-size: 34px;
  line-height: 109%;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

@media (max-width: 850px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    background-color: #d8e4fa;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header__nav._active {
    left: 0;
  }
}

.header-icon {
  display: none;
}

@media (max-width: 850px) {
  .header-icon {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 27px;
    position: relative;
    z-index: 5;
  }
  .header-icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(261deg, #FFA631, #FF6939);
    border-radius: 100px;
  }
  .header-icon span:first-child {
    top: 0;
  }
  .header-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header-icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header-icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(2.5rem, calc(-2.396rem + 9.22vw), 5rem);
}

@media (max-width: 850px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

.header__link {
  font-family: 'Muller';
  font-weight: 400;
  font-size: 18px;
  line-height: 109%;
  color: #A3A3A3;
}

@media (max-width: 850px) {
  .header__link {
    font-size: 30px;
    line-height: 50px;
  }
}

.header__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}

.header-logBurger {
  display: none;
}

@media (max-width: 850px) {
  .header-logBurger {
    display: block;
    padding: 11px 56px;
    border: 0;
    background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
    border-radius: 100px;
    font-family: 'Muller';
    font-weight: 500;
    font-size: 17.74px;
    line-height: 109.5%;
    color: #FFFFFF;
  }
}

.header__log-in {
  padding: 11px 56px;
  border: 0;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 100px;
  font-family: 'Muller';
  font-weight: 500;
  font-size: 17.74px;
  line-height: 109.5%;
  color: #FFFFFF;
}

@media (max-width: 850px) {
  .header__log-in {
    display: none;
  }
}

.header__basket-button {
  padding: 6px;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  border-radius: 100%;
  border: 0;
}

.active-header {
  position: relative;
  font-family: 'Muller';
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

.active-header::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 47%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
}

.home {
  margin: 61px 0 112px;
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .home__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 850px) {
  .home__block-text {
    margin-top: 76px;
  }
}

.home__title, .home__title-dec {
  font-family: 'Muller';
  font-weight: 800;
  font-size: clamp(2.188rem, calc(1.482rem + 3.53vw), 4.313rem);
  line-height: 109%;
  color: #FFFFFF;
}

.home__title {
  position: relative;
}

.home__title::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 28px;
  background: url("../img/arrowOne.svg") no-repeat;
  width: 105px;
  height: 37px;
}

@media (max-width: 850px) {
  .home__title::after {
    display: none;
  }
}

.home__title-dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.home__decore-title {
  display: block;
  background: url("../img/decore-title.svg") no-repeat;
  min-width: clamp(2.188rem, calc(1.793rem + 1.97vw), 3.375rem);
  background-size: contain;
  height: clamp(3.75rem, calc(3.231rem + 2.59vw), 5.313rem);
}

.home__text {
  margin-top: 12px;
  max-width: 411px;
  font-family: 'Muller';
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.719rem + 0.58vw), 1.188rem);
  line-height: 30px;
  color: #A3A3A3;
}

.home__strong {
  color: #FFFFFF;
}

.home__videos {
  margin: 23px 0 58px;
}

.home__title-vid {
  margin-bottom: 12px;
  font-family: 'Muller';
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.719rem + 0.58vw), 1.188rem);
  line-height: 1.36;
  color: #A3A3A3;
}

.home__video {
  width: clamp(12.125rem, calc(10.507rem + 8.09vw), 17rem);
  border-radius: 23px;
  -webkit-filter: drop-shadow(0px 4px 29px rgba(255, 78, 21, 0.1));
          filter: drop-shadow(0px 4px 29px rgba(255, 78, 21, 0.1));
}

.home__button-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  width: clamp(17.25rem, calc(14.926rem + 11.62vw), 24.25rem);
  gap: 19px;
  border-radius: 100px;
  background: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
}

.home__button-block::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(261deg, #FFA631, #FF6939);
  border-radius: 100px;
  z-index: -1;
}

.home__button-block::after {
  content: '';
  position: absolute;
  top: 12px;
  right: -200px;
  background: url("../img/arrowTwo.svg") no-repeat;
  width: 148px;
  height: 147px;
}

@media (max-width: 850px) {
  .home__button-block::after {
    display: none;
  }
}

.home__order {
  padding: clamp(0.75rem, calc(0.646rem + 0.52vw), 1.063rem) clamp(3.125rem, calc(2.669rem + 2.28vw), 4.5rem);
  border: 0;
  height: 100%;
  background: linear-gradient(261.48deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
  border-radius: 100px;
  font-family: 'Muller';
  font-weight: 500;
  font-size: clamp(1rem, calc(0.876rem + 0.62vw), 1.375rem);
  line-height: 1.24;
  color: #FFFFFF;
}

.home__menu {
  font-family: 'Muller';
  font-weight: 500;
  font-size: clamp(0.813rem, calc(0.709rem + 0.52vw), 1.125rem);
  line-height: 123.5%;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

.home__img {
  position: relative;
}

.home__img::before {
  content: '';
  position: absolute;
  top: -134px;
  right: -112px;
  background: url("../img/pizzaDec.png") no-repeat;
  background-size: contain;
  min-width: clamp(8.125rem, calc(4.868rem + 16.29vw), 17.938rem);
  height: 305px;
  z-index: 1;
}

@media (max-width: 850px) {
  .home__img::before {
    top: clamp(-5rem, calc(-3.963rem + -5.19vw), -8.125rem);
    right: clamp(-4.063rem, calc(-3.191rem + -4.36vw), -6.688rem);
  }
}

.home__img::after {
  content: '';
  position: absolute;
  top: clamp(18.063rem, calc(13.436rem + 23.13vw), 32rem);
  right: clamp(11.25rem, calc(8.117rem + 15.66vw), 20.688rem);
  background: url("../img/friesDec.png") no-repeat;
  min-width: clamp(6.875rem, calc(3.638rem + 16.18vw), 16.625rem);
  background-size: contain;
  height: clamp(7.813rem, calc(2.584rem + 26.14vw), 23.563rem);
  -webkit-filter: drop-shadow(-2px -15px 17px rgba(17, 8, 0, 0.48));
          filter: drop-shadow(-2px -15px 17px rgba(17, 8, 0, 0.48));
  z-index: 1;
}

.home__main {
  width: clamp(15.188rem, calc(8.531rem + 24.88vw), 28.5rem);
  border-radius: 46px;
  -webkit-filter: drop-shadow(0px 4px 33px rgba(255, 78, 21, 0.29));
          filter: drop-shadow(0px 4px 33px rgba(255, 78, 21, 0.29));
}

.menu__title {
  text-align: center;
  font-weight: 800;
  font-size: clamp(3rem, calc(2.523rem + 2.39vw), 4.313rem);
  line-height: 1.09;
  color: #FFFFFF;
}

.menu__tabs {
  margin: 49px 0 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__button-tab {
  width: 100%;
  max-width: clamp(9.063rem, calc(7.299rem + 8.82vw), 14.375rem);
  padding: 20px 0;
  border: 0;
  background: #210A01;
  -webkit-box-shadow: 0px 9px 40px rgba(255, 107, 0, 0.06);
          box-shadow: 0px 9px 40px rgba(255, 107, 0, 0.06);
  border-radius: 100px;
  font-weight: 500;
  font-size: clamp(0.813rem, calc(0.626rem + 0.93vw), 1.375rem);
  line-height: 1.09;
  color: #FFFFFF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.menu__button-tab:hover {
  background: #401403;
}

.menu .active-tab {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
}

.menu__banner {
  margin: clamp(1.75rem, calc(1.159rem + 2.95vw), 3.375rem) 0 clamp(3.938rem, calc(2.847rem + 5.45vw), 6.938rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("../img/pizzaS.jpg") no-repeat;
  width: 100%;
  height: clamp(10.938rem, calc(8.635rem + 11.51vw), 17.875rem);
  max-width: clamp(23.438rem, calc(5.325rem + 90.56vw), 78rem);
  border-radius: clamp(1.25rem, calc(0.773rem + 2.39vw), 2.688rem);
  background-size: cover;
  background-position: center center;
}

.menu__banner-text {
  font-weight: 500;
  font-size: clamp(1.688rem, calc(1.335rem + 1.76vw), 2.75rem);
  line-height: 1.08;
  color: #FFFFFF;
  text-shadow: 0px 11.5905px 10.2269px rgba(14, 4, 4, 0.38);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px 22px;
}

.cards__card {
  position: relative;
  z-index: 2;
  padding: 0 41px 23px 27px;
  width: 100%;
  max-width: clamp(11.375rem, calc(8.761rem + 13.07vw), 18.563rem);
  height: clamp(19.688rem, calc(16.415rem + 16.36vw), 28.688rem);
  background: #210A01;
  border-radius: clamp(1.125rem, calc(0.852rem + 1.36vw), 1.875rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}

.cards__img {
  position: absolute;
  top: -56px;
  left: 23%;
  -webkit-filter: drop-shadow(0px 0px 25px rgba(255, 138, 0, 0.18));
          filter: drop-shadow(0px 0px 25px rgba(255, 138, 0, 0.18));
  width: clamp(6.125rem, calc(5.057rem + 5.34vw), 9.063rem);
  height: clamp(6rem, calc(4.955rem + 5.23vw), 8.875rem);
}

.cards__title {
  font-weight: 500;
  font-size: clamp(0.938rem, calc( 0.71rem + 1.14vw), 1.563rem);
  line-height: 1.09;
  color: #FFFFFF;
}

.cards__info {
  max-width: 229px;
  font-weight: 400;
  font-size: clamp(0.563rem, calc(0.449rem + 0.57vw), 0.875rem);
  line-height: 1.09;
  color: #A3A3A3;
}

.cards__card-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__button-tab {
  width: 100%;
  max-width: clamp(1.5rem, calc(1.136rem + 1.82vw), 2.5rem);
  height: clamp(1.5rem, calc(1.136rem + 1.82vw), 2.5rem);
  border: 1.5px solid #A3A3A3;
  background: none;
  border-radius: 100px;
  font-family: 'Muller';
  font-weight: 400;
  font-size: clamp(0.563rem, calc(0.449rem + 0.57vw), 0.875rem);
  line-height: 1.09;
  color: #A3A3A3;
}

.cards .active-bt {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  color: #FFFFFF;
  border: none;
}

.cards__ingridients {
  padding: clamp(0.375rem, calc(0.261rem + 0.57vw), 0.688rem) clamp(1.563rem, calc(0.949rem + 3.07vw), 3.25rem);
  position: relative;
  background: #210A01;
  border: 0;
  border-radius: 84px;
}

.cards__ingridients::before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(35deg, #FF5924, #FFA229);
  border-radius: 84px;
  z-index: -1;
}

.cards__ingridients::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(35deg, #FF5924, #FFA229);
  border-radius: 84px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.cards__ingridients:hover::after {
  opacity: 1;
}

.cards__ingridients:hover .cards__text-b {
  -webkit-text-fill-color: #FFFFFF;
}

.cards__text-b {
  position: relative;
  z-index: 3;
  font-family: 'Muller';
  font-weight: 400;
  font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
  line-height: 1.09;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__price {
  font-weight: 500;
  font-size: clamp(0.938rem, calc(0.71rem + 1.14vw), 1.563rem);
  line-height: 1.09;
  color: #FFFFFF;
}

.cards__dollar {
  margin-left: 2px;
  position: relative;
  top: -10px;
  font-weight: 700;
  font-size: clamp(0.625rem, calc(0.466rem + 0.8vw), 1.063rem);
}

.cards__amout-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__minus, .cards__plus {
  position: relative;
  width: clamp(0.875rem, calc(0.67rem + 1.02vw), 1.438rem);
  height: clamp(0.875rem, calc(0.67rem + 1.02vw), 1.438rem);
  border: 1px solid #A3A3A3;
  border-radius: 50%;
  background: none;
  font-weight: 400;
  font-size: clamp(0.688rem, calc(0.528rem + 0.8vw), 1.125rem);
  line-height: 1.09;
  color: #A3A3A3;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards__minus::after, .cards__plus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
  z-index: -1;
}

.cards__minus:hover, .cards__plus:hover {
  color: #FFFFFF;
  border: 0;
}

.cards__minus:hover::after, .cards__plus:hover::after {
  opacity: 1;
}

.cards__amout {
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.67rem + 1.02vw), 1.438rem);
  line-height: 1.09;
  color: #A3A3A3;
}

.cards__order {
  padding: clamp(0.563rem, calc(0.426rem + 0.68vw), 0.938rem) clamp(1.438rem, calc(0.869rem + 2.84vw), 3rem) clamp(0.438rem, calc(0.347rem + 0.45vw), 0.688rem) clamp(1.875rem, calc(1.261rem + 3.07vw), 3.563rem);
  border: 0;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  -webkit-box-shadow: 0px 7.59366px 33.7496px rgba(255, 107, 0, 0.06);
          box-shadow: 0px 7.59366px 33.7496px rgba(255, 107, 0, 0.06);
  border-radius: 84.374px;
  font-weight: 500;
  font-size: clamp(0.688rem, calc(0.551rem + 0.68vw), 1.063rem);
  line-height: 1.09;
  color: #FFFFFF;
}

.events {
  margin: clamp(3.5rem, calc(3.068rem + 2.16vw), 4.688rem) 0 clamp(4.688rem, calc(3.642rem + 5.23vw), 7.563rem);
}

.events__grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto clamp(0.875rem, calc(0.648rem + 1.14vw), 1.5rem) auto clamp(0.875rem, calc(0.648rem + 1.14vw), 1.5rem) auto;
  grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 1fr clamp(0.875rem, calc(0.648rem + 1.14vw), 1.5rem) 1fr clamp(0.875rem, calc(0.648rem + 1.14vw), 1.5rem) 1fr;
  grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 'one two two two two two three'
 'four four four five five five five'
 'six six seven seven seven seven eight';
  gap: clamp(0.875rem, calc(0.648rem + 1.14vw), 1.5rem);
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

.events__gridMax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: clamp(3.125rem, calc(2.443rem + 3.41vw), 5rem) clamp(1rem, calc(0.886rem + 0.57vw), 1.313rem) clamp(1.5rem, calc(1.295rem + 1.02vw), 2.063rem) clamp(1rem, calc(0.886rem + 0.57vw), 1.313rem);
  border-radius: 30px;
  height: clamp(10.063rem, calc(7.813rem + 11.25vw), 16.25rem);
}

.events__gridOne {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  width: clamp(14.25rem, calc(11.091rem + 15.8vw), 22.938rem);
}

.events__gridTwo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  width: clamp(15.375rem, calc(11.966rem + 17.05vw), 24.75rem);
  grid-area: two;
}

.events__gridThree {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: end;
  grid-area: three;
}

@media (max-width: 850px) {
  .events__gridThree {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end;
  }
}

.events__gridT {
  font-weight: 800;
  font-size: clamp(3rem, calc(2.523rem + 2.39vw), 4.313rem);
  line-height: 1.09;
  color: #FFFFFF;
}

.events__gridP {
  max-width: 427px;
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.761rem + 0.57vw), 1.188rem);
  line-height: 27px;
  color: #A3A3A3;
}

@media (max-width: 850px) {
  .events__gridP {
    max-width: 333px;
  }
}

.events__gridFour {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  width: clamp(24rem, calc(18.773rem + 26.14vw), 38.375rem);
  grid-area: four;
}

.events__gridFive {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 7;
  width: 100%;
  grid-area: five;
}

.events__gridSix {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: clamp(15.563rem, calc(12.085rem + 17.39vw), 25.125rem);
  grid-area: six;
}

.events__gridSeven {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  width: clamp(15.563rem, calc(12.085rem + 17.39vw), 25.125rem);
  grid-area: seven;
}

.events__gridEight {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
  width: clamp(15.563rem, calc(12.085rem + 17.39vw), 25.125rem);
  grid-area: eight;
}

.events__gridTitle {
  max-width: clamp(6.875rem, calc(5.489rem + 6.93vw), 10.688rem);
  font-weight: 500;
  font-size: clamp(1rem, calc(0.795rem + 1.02vw), 1.563rem);
  line-height: 1.08;
  color: #FFFFFF;
}

.events__gridButton {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: clamp(0.438rem, calc(0.347rem + 0.45vw), 0.688rem) clamp(3.125rem, calc(2.352rem + 3.86vw), 5.25rem);
  border: 0;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 31px;
  font-weight: 500;
  font-size: clamp(0.625rem, calc(0.511rem + 0.57vw), 0.938rem);
  line-height: 1.08;
  color: #FFFFFF;
}

.events__mob {
  display: none;
}

@media (max-width: 850px) {
  .events__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end;
    margin-bottom: 28px;
  }
}

.about {
  margin-bottom: clamp(4rem, calc(2.5rem + 7.5vw), 8.125rem);
}

.about__info {
  position: relative;
  margin-top: 63px;
}

.about__info::after {
  content: '';
  position: absolute;
  bottom: 180px;
  right: -130px;
  background: url("../img/arrowOne.svg");
  width: 105px;
  height: 37px;
}

@media (max-width: 850px) {
  .about__info::after {
    display: none;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__title {
  margin-bottom: 14px;
  font-weight: 800;
  font-size: clamp(3rem, calc(2.564rem + 2.18vw), 4.313rem);
  line-height: 1.09;
  color: #FFFFFF;
}

.about__text {
  max-width: 459px;
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.771rem + 0.52vw), 1.188rem);
  line-height: 27px;
  color: #A3A3A3;
  z-index: 4;
  position: relative;
}

.about__img-info {
  width: calc(100% - 20%);
  position: relative;
  margin: 22px 0 23px;
}

.about__img-main {
  width: clamp(16rem, calc(10.087rem + 29.56vw), 33.813rem);
  height: clamp(15.313rem, calc(8.943rem + 31.85vw), 34.5rem);
  -webkit-filter: drop-shadow(-15px 21px 68px rgba(103, 25, 0, 0.23));
          filter: drop-shadow(-15px 21px 68px rgba(103, 25, 0, 0.23));
  border-radius: 34px;
}

.about__img {
  position: relative;
}

.about__img::before {
  content: '';
  position: absolute;
  top: -141px;
  right: -106px;
  background: url("../img/pizzaDec.png") no-repeat;
  background-size: contain;
  min-width: clamp(8.125rem, calc(4.868rem + 16.29vw), 17.938rem);
  height: 304px;
  z-index: 2;
}

@media (max-width: 850px) {
  .about__img::before {
    top: clamp(-5.625rem, calc(-4.466rem + -5.8vw), -8.813rem);
    right: clamp(-3.625rem, calc(-2.534rem + -5.45vw), -6.625rem);
  }
}

.about__img::after {
  content: '';
  position: absolute;
  bottom: -198px;
  left: -137px;
  background: url("../img/friesDec.png") no-repeat;
  min-width: clamp(6.875rem, calc(3.638rem + 16.18vw), 16.625rem);
  background-size: contain;
  height: clamp(7.813rem, calc(2.584rem + 26.14vw), 23.563rem);
  z-index: 2;
}

@media (max-width: 850px) {
  .about__img::after {
    bottom: clamp(-4.438rem, calc(-1.551rem + -14.43vw), -12.375rem);
    left: clamp(-4.438rem, calc(-2.938rem + -7.5vw), -8.563rem);
  }
}

.footer {
  padding: clamp(2.563rem, calc(1.903rem + 3.3vw), 4.375rem) 0 clamp(2.563rem, calc(2.063rem + 2.5vw), 3.938rem);
  background: linear-gradient(245.71deg, #170A00 4.96%, #170600 33.7%, #0F0700 68.41%, #170A00 96.42%);
}

.footer__block-top {
  margin-bottom: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  margin-bottom: 47px;
  margin-right: clamp(2.938rem, calc(2.097rem + 4.2vw), 5.25rem);
  font-weight: 800;
  font-size: 30px;
  line-height: 1.09;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer__navBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 27px clamp(2.938rem, calc(2.097rem + 4.2vw), 5.25rem);
}

.footer__title {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: clamp(1.188rem, calc(1.165rem + 0.11vw), 1.25rem);
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #A3A3A3;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.footer__link {
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.784rem + 0.45vw), 1.125rem);
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #515151;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.footer__link:hover {
  color: #FFFFFF;
}

.footer__block-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__tel {
  font-weight: 400;
  font-size: clamp(0.875rem, calc(0.716rem + 0.8vw), 1.313rem);
  line-height: 1.25;
  letter-spacing: -0.02em;
  background: linear-gradient(261.69deg, #FF612E 12.12%, #FFA32B 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
